<%- include('./partials/header') %>
<title>4Paw | Adopt</title>
<link rel="stylesheet" href="/stylesheets/adopt.css">
</head>
<body>
<div class="container header-container">
    <header class="jumbotron justify-content-center">
        <div class="container ml-auto justify-content-center">
            <h1>Welcome to 4Paw!</h1>
            <p>Choose your host from all over the world.</p>
        </div>
    </header>


    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% pets.forEach(function(pet) { %>
            <div class="col-md-3 col-sm-6 cards">
                <div class="img-thumbnail">
                    <img class="cardz" src="<%= pet.image %>" style="width: 100%; height: 100%;">
                    <div class="caption">
                        <h4>Breed: <%= pet.breed %></h4>
                        <h4>Put up by: <%= pet.ownerName %></h4>
                        <h4>Location: <%= pet.location %></h4>
                        <h4>Contact: <%= pet.phoneNum %></h4>
                        <a class="btn btn-success btn-large" href="">Check details</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

</div>
<%- include('./partials/footer') %>
