<%- include('./partials/header') %>
<title>4Paw | Help</title>
<link rel="stylesheet" href="/stylesheets/help.css">
</head>
<body>


    <section class="section my-4">
        <div class="container text-center">
            <div class="title py-5">
                <h1>We Can't Just Walk Away!</h1>
                <h3>Help us... Help Them</h3>
                <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fa fa-paw"></i></div>
                <div class="divider-custom-line"></div>
            </div>
                
            </div>
            <div class="container section1">

            </div>
            <p class="subtitle">Upload images of injured animals to help them.</p>
            <div class="row justify-content-center">
                <div class="col-4">
                    <form action="/uploadmultiple" enctype="multipart/form-data" method="POST">
                        <div class="row">
                            <div class="col-9">
                                <input type="file" class="form-control" name="images" id="formFile" multiple>
                            </div>
                            <div class="col-2">
                                <input type="submit" class="btn btn-warning" value="Upload Images">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- display images -->
            <section class="mt-5">
                <div class="row">
                    <% images.forEach(function(image) { %>
                            <!-- <div class="col-3">
                                <div class="card shadow" style="width: 18rem;">
                                    <img src="data: <%= image.contentType %>;base64,<%= image.imageBase64 %>" class="card-img-top img-fluid" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title font-poppins">UI/UX Design</h5>
                                            <p class="text-secondary font-size-09">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <a href="#" class="btn btn-info font-size-09 text-light">Read More</a>
                                        </div>
                                </div>
                            </div> -->
                            <div class="container mt-3 cards">
                                <div class="row text-center" style="display: flex; flex-wrap: wrap;">
                                    <div class="col-md-3 col-sm-6">
                                            <div class="card mb-4" style="min-width: 18rem; max-width: 18rem;">
                                                <img style="width: 18rem; height: 9rem;" class="card-img-top" src="data: <%= image.contentType %>;base64,<%= image.imageBase64 %>" alt="Card image cap">
                                                <div class="card-body">
                                                    <h5 class="card-title">Location: Pune</h5>
                                                    <p class="card-text">An injured dog found near street no. 44. <br> Contact: Aditya <br> 987415xxxx</p>
                                                </div>
                                            </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                    <% }) %>
                </div>
            </section>
            <!-- display section -->
        </div>
    </section>
<%- include('./partials/footer') %>